# Model & log dosyaları (best model ve vec_normalize hariç)
models_hybrid_2/*
!models_hybrid_2/best/
models_hybrid_2/best/*
!models_hybrid_2/best/best_model.zip
!models_hybrid_2/vec_normalize.pkl
logs_hybrid_2/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Sanal ortam
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
